{% extends "base.html" %}
{% block content %}
<section class="hero is-white is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
            <div class="column is-4 ">
                <h1 class="title is-italic has-text-success is-1">
                     e-Vote App
                  </h1>
                <h2 class="subtitle has-text-dark is-4">
                    Login and start voting
                </h2><br>
                <img src="static/applogo.jpg">
                <h3 class="title is-italic has-text-success is-1">
                     SHAPE<br>TOMORROW<br>BY VOTING<br>TODAY
                  </h3>
            </div>
            <div class="column is-8 ">
             <h3 class="title is-italic has-text-success is-1">
                     YOUR VOTE IS YOUR VOICE
             </h3>
             <img src="static/1.jpeg">
            </div>
        </div>
        
      </div>
      
    </div>
  </section>
<div>
    To Conduct Online Voting
    <p>Contact:-mayanksahu212@gmail.com</p>
</div>
{% endblock %}